[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group 5g-cicd-admins
	owner = group hss-admins
	read = group 5g-cicd
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
[plugin "data-owner"]
	DataOwner = esaaans
	DataOwnerDepartment = BCSS CNE SPS SSP SW Pipeline KI1
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
